@model IEnumerable<AMS.Models.Scholarships>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutRegistrar.cshtml";
}

<link href="~/css/table.css" rel="stylesheet" />


<div class="app-content">
    <h1 class="text-center">Scholarship Details</h1>
    <br />
    <a class="btn btn-success" asp-action="Create">+ Add Student for Scholarship</a>
    <br /> <br />

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Student Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage) %
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>