@model IEnumerable<AMS.Models.FeesTypes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutRegistrar.cshtml";
}

<link href="~/css/table.css" rel="stylesheet" />

<div class="app-content">
    <h1 class="text-center">Fees Type Information</h1>
    <br />
    <a class="btn btn-success" asp-action="Create">+ Add Fees Type</a>
    <br /> <br />

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Term)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>