@model IEnumerable<AMS.Models.Salary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAccountant.cshtml";
}

<link href="~/css/table.css" rel="stylesheet" />

<div class="app-content">
    <h1 class="text-center">Salary Information</h1>
    <br />
    <a class="btn btn-success" asp-action="Create">+ Add Salary</a>
    <br /> <br />

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Staff Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount) Tk
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a class="btn btn-info" asp-action="PrintById" asp-route-id="@item.Id">Print</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <h3>Total Given Salary: @ViewBag.salaryTotal Tk</h3>
</div>