@model IEnumerable<AMS.Models.Fees>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutRegistrar.cshtml";
}

<link href="~/css/table.css" rel="stylesheet" />


<div class="app-content">
    <h1 class="text-center">Fees Information</h1>
    <br />

    <a class="btn btn-success" asp-action="Create">+ Add Fees</a>
    <br /> <br />

    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class)
                </th>
                <th>
                    Fees Type
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FeesType.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>