@model AMS.Models.StudentPayments

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/Shared/_LayoutAccountant.cshtml";
}
<link href="~/css/table.css" rel="stylesheet" />

<div class="app-content">
    <br/>
    <br/>
    <br/>
    <h1 class="text-center">New Prattasha High School</h1>
    <h1 class="text-center">Student Payment Information</h1>
    <br/>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Student Id
            </th>

            <th>
                Fee
            </th>
            <th>
                Payment Type
            </th>

            <th>
                Fine
            </th>
            <th>
                Discount
            </th>
            <th>
                Paid Amount
            </th>
            <th>
                Payment Date
            </th>
            <th>
                Remarks
            </th>


        </tr>
        </thead>
        <tbody>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.StudentId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.Fee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PaymentType.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => Model.Fine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PaidAmount) Tk
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Remarks)
            </td>


        </tr>

        </tbody>
    </table>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h4>Signature & Date</h4>
</div>