@model IEnumerable<AMS.Models.Donation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAccountant.cshtml";
}

<link href="~/css/table.css" rel="stylesheet" />

<div class="app-content">
    <h1 class="text-center">Donation Information</h1>
    <br />
    <a class="btn btn-success" asp-action="Create">+ Add Donation</a>
    <br /> <br />

    <a class="btn btn-info" asp-action="PrintAll" asp-route-id="">Print All Donation</a>
    <br /> <br />
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Donation From
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonationFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount) Tk
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <h3>Total Donation: @ViewBag.donationTotal Tk</h3>
</div>